<style>
    #coc > .container-fluid {
        margin-top: 122px;
    }
</style>

<%= partial(:header) %>

<section id="coc">
    <div class="container-fluid">
        <div class="section-header text-center">
            <h3>Konkurs na najlepsze powiedzenie programistyczne</h3>
        </div>

        <div class="row">
            <div class="col">
                <h4>§1 POSTANOWIENIA OGÓLNE</h4>
                <ol>
                    <li>Konkurs jest organizowany pod nazwą „DevConf - konkurs najlepsze powiedzenie programistyczne” i jest zwany dalej: "Konkursem".</li>
                    <li>Organizatorem Konkursu jest Developers World Grzegorz Duda z siedzibą przy ul. Wielickiej 91/4, w Krakowie 30-552, zwana dalej „Organizatorem”.</li>
                    <li>Fundatorem nagród w Konkursie jest Organizator.</li>
                    <li>Konkurs trwa od 25-06-2022 do 10-08-2022. Organizator zastrzega sobie prawo do przedłużenia konkursu.</li>
                </ol>
                <h4>§2 WARUNKI UCZESTNICTWA W KONKURSIE</h4>
                <ol>
                    <li>Uczestnikiem Konkursu („Uczestnik”) może być każda osoba fizyczna spełniająca wszystkie warunki Regulaminu udziału w Konkursie.</li>
                    <li>Uczestnictwo w Konkursie jest bezpłatne.</li>
                    <li>Akceptacja przez Uczestnika niniejszego Regulaminu w całości, jak również zobowiązanie do jego przestrzegania oraz potwierdzenie, iż spełnia warunki udziału w Konkursie następuje w momencie przystąpienia przez Uczestnika do Konkursu.</li>
                    <li>Przystępując do konkursu Uczestnicy wyrażają zgodę na przetwarzanie danych osobowych, zgodnie z Rozporządzeniem Parlamentu Europejskiego i Rady (UE ) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE oraz Ustawie z dnia 10 maja 2018 r. o ochronie danych osobowych (Dz.U. 2018 poz. 1000) w bazie danych osobowych klientów Organizatora dla celów Konkursu oraz na opublikowanie swojego imienia i nazwiska na liście zwycięzców.</li>
                    <li>Uczestnikowi, o którym mowa w ust. 2 powyżej, przysługuje prawo wglądu do dotyczących go danych oraz prawo do ich poprawiania i ich usunięcia.</li>
                    <li>Podanie danych osobowych jest dobrowolne, lecz ich niepodanie uniemożliwia udział w Konkursie.</li>
                </ol>
                
            </div>
        </div>
    </div>
</section>

<%= partial "footer" %>