<style>
    #coc > .container-fluid {
        margin-top: 122px;
    }
</style>

<%= partial(:header) %>

<section id="coc">
    <div class="container-fluid">
        <div class="section-header text-center">
            <h3>Konkurs na najlepsze powiedzenie programistyczne</h3>
        </div>

        <div class="row">
            <div class="col">
                <h4>§1 POSTANOWIENIA OGÓLNE</h4>
                <ol>
                    <li>Konkurs jest organizowany pod nazwą „DevConf - konkurs najlepsze powiedzenie programistyczne” i jest zwany dalej: "Konkursem".</li>
                    <li>Organizatorem Konkursu jest Developers World Grzegorz Duda z siedzibą przy ul. Wielickiej 91/4, w Krakowie 30-552, zwana dalej „Organizatorem”.</li>
                    <li>Fundatorem nagród w Konkursie jest Organizator.</li>
                    <li>Konkurs trwa od 25-06-2022 do 10-08-2022. Organizator zastrzega sobie prawo do przedłużenia konkursu.</li>
                </ol>
                <h4>§2 WARUNKI UCZESTNICTWA W KONKURSIE</h4>
                <ol>
                    <li>Uczestnikiem Konkursu („Uczestnik”) może być każda osoba fizyczna spełniająca wszystkie warunki Regulaminu udziału w Konkursie.</li>
                    <li>Uczestnictwo w Konkursie jest bezpłatne.</li>
                    <li>Akceptacja przez Uczestnika niniejszego Regulaminu w całości, jak również zobowiązanie do jego przestrzegania oraz potwierdzenie, iż spełnia warunki udziału w Konkursie następuje w momencie przystąpienia przez Uczestnika do Konkursu.</li>
                    <li>Przystępując do konkursu Uczestnicy wyrażają zgodę na przetwarzanie danych osobowych, zgodnie z Rozporządzeniem Parlamentu Europejskiego i Rady (UE ) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE oraz Ustawie z dnia 10 maja 2018 r. o ochronie danych osobowych (Dz.U. 2018 poz. 1000) w bazie danych osobowych klientów Organizatora dla celów Konkursu oraz na opublikowanie swojego imienia i nazwiska na liście zwycięzców.</li>
                    <li>Uczestnikowi, o którym mowa w ust. 2 powyżej, przysługuje prawo wglądu do dotyczących go danych oraz prawo do ich poprawiania i ich usunięcia.</li>
                    <li>Podanie danych osobowych jest dobrowolne, lecz ich niepodanie uniemożliwia udział w Konkursie.</li>
                </ol>
                <h4>§3 WARUNKI UCZESTNICTWA W KONKURSIE</h4>
                <ol>
                    <li>W ramach konkursu zostanie przyznanych 10 darmowych zaproszeń oraz 20 kodów na zakup biletów na konferencję DevConf 2022 w wysokości 50% od najniższej ceny (Blind) - jeden taki kod stanowi Nagrodę dla Uczestnika konkursu.</li>
                    <li>Komisja będzie się składać z 3 Organizatorów Konferencji DevConf.</li>
                    <li>Konkurs polegać będzie na wysłaniu najlepiej pasujących do świata programistycznego powiedzeń w odpowiedzi na pytanie pojawiające się na profilu Facebook, Twitter i LinkedIn konferencji DevConf w okresie trwania Konkursu. Odpowiedzi Uczestnicy powinni wysyłać jako komentarze na odpowiednich kanałach social media (Facebook, Twitter lub LInkedIn)..</li>
                    <li>Po zakończeniu Konkursu, Komisja wybierze 30 osób z najlepszą odpowiedzią na zadane pytanie - Laureatów.</li>
                    <li>Wszelkie wątpliwości dotyczące zasad Konkursu, postanowień jego Regulaminu i interpretacji rozstrzyga Organizator.</li>
                    <li>Zdobywcy nagród zostaną powiadomieni o wygranej poprzez wiadomość prywatną na jednym z portali Facebook, Twitter, LinkedIn, gdzie zgłosili swoją odpowiedź. Ogłoszenie o rozstrzygnięciu Konkursu zostanie opublikowane na kanałach społecznych Organizatora.</li>
                    <li>Nagroda przekazana zostanie w terminie 7 dni od potwierdzenia przyjęcia nagrody przez zdobywcę nagrody.</li>
                    <li>W czasie trwania całego Konkursu jeden Uczestnik może wygrać tylko jedną Nagrodę.</li>
                    <li>Bilety nie mogą być zamieniane na ekwiwalent pieniężny.</li>
                </ol>
                <h4>§4 DANE OSOBOWE UCZESTNIKÓW KONKURSU</h4>
                <ol>
                    <li>Przy akceptacji nagrody Laureat Konkursu wyraża dobrowolną, świadomą i jednoznaczną zgodę na przetwarzanie dotyczących go danych osobowych:</li>
                    <ol>
                        <li>imię i nazwisko</li>
                        <li>adres e-mail</li>
                    </ol>
                    <li>Laureat potwierdza, że podane przez niego dane osobowe są prawdziwe.</li>
                    <li>Administratorem podanych danych osobowych jest Organizator konkursu tj. Developers World Grzegorz Duda z siedzibą w Krakowie, ul. Wielicka 91/4, 30-552 Kraków.</li>
                    <li>Dane osobowe przetwarzane będą w celu przekazania Nagrody Laureatowi Konkursu.</li>
                    <li>Podanie danych osobowych wskazanych w pkt. 1 i 2 jest dobrowolne, natomiast ich niepodanie uniemożliwia udział w Konkursie.</li>
                    <li>Dane osobowe będą przetwarzane przez okres trwania Konkursu, a po jego zakończeniu do wypełnienia przez Organizatora ciążących na nim obowiązków prawnych oraz ustania potencjalnych roszczeń Uczestników Konkursu.</li>
                    <li>Odbiorcami danych osobowych mogą być podmioty upoważnione na podstawie podmiotów prawa oraz podmioty, którym Administrator powierzył przetwarzanie danych osobowych w związku z prowadzeniem Konkursu.</li>
                    <li>Dane osobowe Uczestników Konkursu nie będą przekazywane do państw trzecich poza Europejski Obszar Gospodarczy ani organizacji międzynarodowych.</li>
                    <li>Bilety nie mogą być zamieniane na ekwiwalent pieniężny.</li>
                    <li>Uczestnikom przysługują następujące prawa:</li>
                    <ol>
                        <li>prawo dostępu do danych osobowych</li>
                        <li>prawo do sprostowania i poprawiania danych osobowych</li>
                        <li>prawo do usunięcia danych osobowych</li>
                        <li>prawo do ograniczenia lub wniesienia sprzeciwu do przetwarzania danych</li>
                        <li>prawo do wniesienia skargi do organu nadzorczego</li>
                        <li>prawo do cofnięcia wyrażonej zgody w dowolnym momencie, bez wpływu na zgodność z prawem przetwarzania, którego dokonano na podstawie zgody przed jej cofnięciem</li>
                    </ol>
                    <li>Dane Uczestników konkursu nie będą przetwarzane w sposób skutkujący zautomatyzowanym podejmowaniem decyzji, w tym nie będą profilowane.</li>
                </ol>
                <h4>§5 POSTANOWIENIA KOŃCOWE</h4>
                <ol>
                    <li>Regulamin będzie dostępny na stronie internetowej Organizatora. Do kontroli prawidłowości przebiegu Konkursu, zgłaszania reklamacji i zapytań Organizator wyznaczył Michała Śliwonia (e-mail: contact@devconf.pl). Sprawy sporne w zakresie przyznania Nagrody rozstrzygać będzie Zarząd Organizatora.</li>
                    <li>Organizator zastrzega sobie prawo do zmiany postanowień Regulaminu pod warunkiem, że nie naruszy to już nabytych przez Uczestników praw. O każdorazowej zmianie Regulaminu Organizator poinformuje na Stronie Internetowej Organizatora w terminie 3 dni roboczych przed wprowadzeniem zmian.</li>
                    <li>Uczestnicy Konkursu działający sprzecznie z postanowieniami niniejszego Regulaminu mogą na podstawie decyzji Organizatora zostać zdyskwalifikowani, przy czym Organizator zastrzega sobie prawo do nie informowania Uczestnika o podjętej decyzji.</li>
                    <li>Organizator zastrzega sobie prawo zawieszenia lub zaprzestania organizacji Konkursu, bez konieczności poinformowania Uczestników. W przypadku zawieszenia lub zaprzestania organizacji Konkursu Uczestnikom nie przysługują względem Organizatora żadne roszczenia, w szczególności Uczestnikowi nie przysługuje prawo żądania nagrody lub zwrotu kosztu udziału w Konkursie. Powyższe zastrzeżenie nie dotyczy Uczestników, którzy spełnili warunki do otrzymania nagrody przed dniem zawieszenia lub zaprzestania organizacji Konkursu. Nagrody zostaną przyznane zgodnie z postanowieniami obowiązującymi w dniu zawieszenia lub zaprzestania organizacji Konkursu.</li>
                    <li>Regulamin wchodzi w życie z dniem 25.06.2022 r.</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<%= partial "footer" %>