
<style>
    header .container-fluid {
        background-color: #3d00f4;
    }
</style>

<%= partial "header" %>

<section id="scholarship">
    <div class="container-fluid">
        <div class="section-header text-center">
            <h3>Diversity Scholarship</h3>
        </div>

        <div class="row">
            <div class="col">
                <h4>What are the scholarships</h4>
                <p>
                Our Diversity Scholarships are our way to ensure DevConf drives inclusion of participants from groups that are under-represented group in tech. This includes (but is not limited to): people of colour, LGBTQIA+ people, women and disabled people.
                </p>
                <p>
                Our Diversity Scholarship includes a ticket to the day DevConf event, covering also the cost of travel to Kraków, Poland (from your city) and accommodation as required.
                </p>
                <h4>How to apply</h4>
                <p>
                Please fill the survey <a href="https://devconf.typeform.com/to/RSzAhg">available here</a>. You don’t have to explain your personal situation (but you can of course, if you want to). We trust you :)
                </p>
                <p>
                Please note that the results of the survey will be treated with utmost privacy, and we will not publicly announce who the diversity scholarships go to (though you’re welcome to say so yourself).
                </p>
                <p>
                Please keep in mind we have a limited number of scholarships available.
                </p>
                <p>
                The deadline for applications is <em>Friday, 2nd of August 2019</em>.
                </p>
                <h4>Scholarship sponsorship for companies</h4>
                <p>
                If your company would like to sponsor part of this scholarship, please feel free to contact us <a href="mailto:contact@devconf.pl">at this email</a>. We’ll make sure your contribution is recognised!
                </p>
                <h4>Acknowledgments</h4>
                <p>
                We’ve taken either some copy or inspiration from <a href="https://remysharp.com/2015/08/28/diversity-scholarships">ffconf</a> created by wonderful <a href="https://twitter.com/rem">Remy Sharp</a> (thanks for allowing us to take inspiration and copy from your programme Remy!)
                </p>
            </div>
        </div>
    </div>
</section>

<%= partial "footer" %>
