<section id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col d-none d-lg-block">   
            </div>
            <div class="col">
                <h3>
                    Meet the Community<br/> and <span class="thick-underline">Find Inspiration<span></span></span>
                </h3>

                <p>
                    <strong>Three days of focused opportunities for learning and networking.</strong>
                </p>

                <p>
                    DevConf is one of Poland's premier annual conferences dedicated to software 
                    development. It's based on principles we believe are the success factors of an 
                    ultimate conference experience. Regardless of technology, we strive to spark 
                    inspiration by exchanging ideas. We facilitate learning as a process occurring at 
                    talks and during informal conversations. Knowing that great sessions are not 
                    enough we're also eager to provide excellent networking opportunities. People 
                    and interactions are what we value the most. 
                </p>

                <p>
                    <strong><em>
                        The whole event is divided in to parts: pre-conference workshops happening on 
                        <%= data.general.workshops_date %> and the conference itself on <%= data.general.conference_date %>.
                    </em></strong>
                </p>
            </div>
        </div>
    </div>
</section>