<%
    visible_speakers = data.speakers.select{ |s| (defined? s.show) ? s.show : true }
%>

<section id="counters">
    <div class="container-fluid px-0">
        <div class="row no-gutters">
            <div class="d-none d-lg-block col-lg-6 counters-photo"></div>
            <div class="col-lg-6 col-sm-12">
                <div class="row no-gutters">
                    <div class="col-sm-3 col-6 counter">
                        <div class="counter-content">
                            <span class="count">3</span>
                            <span class="title">Days</span>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6 counter">
                        <div class="counter-content">
                            <span class="count"><%= data.sessions.length %></span>
                            <span class="title">Talks</span>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6 counter">
                        <div class="counter-content">
                            <span class="count"><%= data.workshops.items.length %></span>
                            <span class="title">Workshops</span>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6 counter">
                        <div class="counter-content">
                            <span class="count"><%= visible_speakers.length %></span>
                            <span class="title">Speakers</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>