<section id="footer">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-7 text-md-left py-md-4 py-2">
                <div class="footer-links">
                    <ul class="d-flex flex-row m-0 p-0">
                        <li class="mr-4">
                            <a class="" href="mailto:contact@devconf.pl">Contact</a>
                        </li>
                        <li class="mr-4">
                            <a class="" href="/coc">Code of Conduct</a>
                        </li>
                        <% if false %>
                        <li class="mr-4">
                            <a class="" href="/program-committee">Program Committee</a>
                        </li>
                        <% end %>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 text-md-left py-md-4 py-2">
                <%= partial "social_links" %>
            </div>
            <div class="col-md-3 text-md-right py-md-4 py-2">
                <p>
                    All Rights Reserved © 2022
                </p>
            </div>
        </div>
    </div>
</section>
