<section id="info">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <h4>About <em>DevConf</em><h4>
                <p>
                    From the very beginning we've been focused on people, not on companies. 
                    Being developers ourselves we thrive to provide the ultimate experience 
                    that will be remembered. We'd like to connect awesome speakers with the 
                    willing-to-learn-and-share community. It's not only about sessions - it's 
                    also about meeting with like-minded people - it can result in great ideas, 
                    is that right?
                </p>
                <p>
                    <strong>DevConf Team</strong>
                </p>
            </div>
            <div class="offset-md-2 col-md-5">
                <h4>Organizer</h4>
                <p> 
                    Grzegorz Duda Developers World<br/>
                    ul. Wielicka 91/4<br/>
                    30-552 Krakow, Poland<br/>
                    VAT ID/NIP: PL6792536646<br/>
                    Registration Number/Regon: 120770736<br/>
                </p>
            </div>
        </div>
    </div>
</section>
