<section id="location">
    <div class="container-fluid px-0 position-relative">
        <div id="map"></div>
        <div class="info-box p-5">
            <h3 class="pb-0">Location</h3>
            <p class="mb-0">
                Multikino, Dobrego Pasterza 128 
            </p>
            <p>
                Kraków, Poland
            </p>
        </div>
    </div>
</section>