<section id="newsletter">
  <div class="container-fluid">
    <iframe class="mj-w-res-iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://app.mailjet.com/widget/iframe/2ytY/igc" width="100%"></iframe>
  </div>
</section>
