<section id="newsletter">
  <div class="container-fluid">
    <!-- Form Acumbamail -->
    <form action="https://acumbamail.com/newform/subscribe/cbvrPrhys4iiK1ocFfO3f/29860/" method="post" class="newsletter-form">
      <div class="newsletter-container">
        <div style="width: 100%; position:relative;">
          <label for="id_7gj6ne">Join our Newsletter!</label>
          <input id="id_7gj6ne" name="email_1" type="email" placeholder="" required=""/><br />
          <!-- Do not delete the following fields, is important in order to protect you from spam :) -->
                      
          
          <input type="text" name="a615240c" tabindex="-1" value="" style="position: absolute; left: -4900px;" aria-hidden="true" id="a615240c" autocomplete="off"/>
          <!-- <br /> -->

          <input type="email" name="b615240c" tabindex="-1" value="" style="position: absolute; left: -5000px;" aria-hidden="true" id="b615240c" autocomplete="off"/>
          <br />

          <input type="checkbox" name="c615240c" tabindex="-1" style="position: absolute; left: -5100px;" aria-hidden="true" id="c615240c" autocomplete="off"/>
          <!-- <br /> -->
        </div>
      </div>
      <input type="hidden" name="ok_redirect" id="id_redirect" value="/*You can insert the url that you want to redirect to after a valid registration here */">
      <input type="submit" value="Sign up" class="newsletter-submit-button">
    </form>
    <!-- End Form -->
  </div>
</section>
