<div class="social-links">
    <ul>
        <li>
            <a href="https://www.facebook.com/devconfpl"><i class="fab fa-facebook"></i></a>
        </li>
        <li>
            <a href="https://twitter.com/devconfpl"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
            <a href="https://www.youtube.com/channel/UCXp2tbIOcFe0WP1OaoREmWA"><i class="fab fa-youtube"></i></a>
        </li>
        <li>
            <a href="https://www.flickr.com/photos/151642418@N02/"><i class="fab fa-flickr"></i></a>
        </li>
    </ul>
</div>