<%
    require 'tzinfo'

    timezone = TZInfo::Timezone.get('Europe/Warsaw')
    offset_in_hours = timezone.current_period.utc_total_offset / 3600
    offset = '%+.2d:00' % offset_in_hours
    time = Time.now.getlocal(offset)
%>

<section id="tickets">
    <div class="container-fluid">
        <div class="section-header text-center">
            <h3>Tickets</h3>
            <p class="mb-1">
                Get yours while they're still available.
            </p>
            <p class="mb-1">
                Workshop ticket doesn't include a conference one.
            </p>
        </div>
        <div class="card-deck">
            <% data.tickets.sort_by(&:first_month).each do |t| %>
                <%= partial(:ticket, :locals => { :current_time => time, :ticket => t }) %>
            <% end %>
        </div>
        <div class="card-deck">
            <div class="card text-center special">
                <div class="card-header">
                    <h5 class="card-title">Workshops</h5>
                    <h6 class="card-subtitle">1199</h6>
                </div>
                <div class="card-body">
                    Extend your experience with pre-conference, full day, hands-on workshops. Does not include a conference ticket.
                </div>
                <div class="card-footer">
                    <a href="<%= data.general.tickets_link %>" class="stretched-link">Buy Now</a>
                </div>
            </div>
            <div class="card text-center">
                <div class="card-header">
                    <h5 class="card-title">Diversity</h5>
                    <h6 class="card-subtitle">499</h6>
                </div>
                <div class="card-body">
                    Bring a friend from an underrepresented minority to the conference and get tickets with a Blind price for both of you with the code <strong>DVC19_Diversity</strong>.
                    <a class="external-link" href="https://medium.com/@devconfPL/striving-for-diversity-8382f2558c59">read more</a>
                </div>
                <div class="card-footer">
                    <a href="<%= data.general.tickets_link %>" class="stretched-link">Buy Now</a>
                </div>
            </div>
            <div class="card text-center wide">
                <div class="card-header">
                    <h5 class="card-title">Group Tickets</h5>
                    <p>Looking for group discounts?</p>
                    <p>Use one of the following codes during registration.</p>
                </div>
                <div class="card-body">
                    <ul>
                        <li><strong>DVC19_GROUP5</strong> - gives 5% off for 5+ attendees</li>
                        <li><strong>DVC19_GROUP10</strong> - gives 7% off for 10+ attendees</li>
                        <li><strong>DVC19_GROUP20</strong> - gives 10% off for 20+ attendees</li>
                    </ul>
                    <p class="alt-text">
                        Discounts do not add up.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="<%= data.general.tickets_link %>" class="stretched-link">Buy Now</a>
                </div>
            </div>
        </div>
        <p>
            * All listed prices do not include 23% VAT
        </p>
    </div>
</section>