<section id="workshops">
    <div class="container-fluid">
        <div class="section-header text-center">
            <h3>Workshops</h3>
            <p class="mb-1">
                Some attendees join us also for a bit more in-depth
                and hands-on knowledge. As a response, 
                we organize workshops a day before the conference.
            </p>
            <p class="mb-1">
                Tickets are being sold separately, regardless of the conference ones.
            </p>
        </div>
        <div class="card-deck">
            <% data.workshops.items.sort_by(&:title).each do |w| %>
                <%= partial(:workshop, :locals => { :workshop => w }) %>
            <% end %>
        </div>
    </div>
</section>